@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");

:root {
  /* colors */
  --color-primary: #de803d;
  --color-primary-hover: #d97025;
  --color-secondary: #bfe5c2;
  --color-secondary-hover: #a1d8a5;
  --color-black: #333333;
  --color-grey: #666666;
  --color-green: #005128;
  --color-white: #ffffff;
}
body {
  margin: 0;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0.83em;
}
p {
  font-size: 15px;
  line-height: 1.3;
}
a {
  text-decoration: none;
}
.color-green {
  color: var(--color-green);
}
.font-merriweather {
  font-family: "Merriweather", serif;
}
.product-hero {
  position: relative;
}
.hero-wrapper {
  position: relative;
}
.hero-bg {
  width: 100%;
  min-height: 350px;
  max-height: 100vh;
}
.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-details {
  padding: 16px;
  max-width: 550px;
}
.details-tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-bottom: 30px;
}
.details-tag {
  border: 2px solid var(--color-black);
  border-radius: 50px;
  padding: 6px 16px;
  margin: 4px;
  color: var(--color-green);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.details-info {
  margin-bottom: 30px;
}
.details-price > h1 {
  font-size: 32px;
}
.details-actions {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
}
.details-action {
  border-radius: 50px;
  padding: 16px 28px;
  margin: 4px;
  flex: 1;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}
.details-action.action--test {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.details-action.action--test:hover {
  background-color: var(--color-primary-hover);
}
.details-action.action--test > span {
  display: none;
}
.details-action.action--cart {
  background-color: var(--color-secondary);
  color: var(--color-black);
}
.details-action.action--cart:hover {
  background-color: var(--color-secondary-hover);
}
.product-features {
  padding: 16px 0;
  margin: 0 16px 20px 10px;
  display: grid;
  grid-template-columns: repeat(5, 154px);
  overflow-y: hidden;
}
.product-feature {
  border: 1px solid var(--color-grey);
  border-radius: 6px;
  padding: 26px 10px 10px;
  margin: 6px;
  width: 120px;
  text-align: center;
}
.product-feature > img {
  margin-bottom: 13px;
}
.product-feature > h4 {
  color: var(--color-green);
}
.product-feature > p {
  margin-bottom: 0;
  text-align: left;
}

@media (min-width: 768px) {
  .hero-bg {
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -ms-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
@media (min-width: 1024px) {
  .container {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }
  .hero-bg {
    min-height: 562px;
  }
  .product-details {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 38%;
    padding: 40px;
  }
  .product-details > h3 {
    font-size: 32px;
  }
  .product-features {
    padding: 50px 0;
    margin: 0 16px 0 10px;
  }
  .details-action.action--test > span {
    display: inline-block;
  }
}
